body {
  font-family: Arial, sans-serif;
  background: #f4f6f9;
  margin: 0;
}

.container {
  max-width: 500px;
  margin: auto;
  padding: 20px;
  padding-right:800px;
}

h1 {
  text-align: center;
}

.card {
  background: white;
  padding: 15px;
  margin: 10px 0;
  border-radius: 10px;
}

input {
  width: 45%;
  padding: 10px;
  margin: 5px;
}

button {
  padding: 10px;
  background: #007bff;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background: #0056b3;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  display: flex;
  justify-content: space-between;
  margin: 5px 0;
}

.delete {
  color: red;
  cursor: pointer;
}